<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help page</title>
    </head>
    <body>
        <h1>{{screamIt welcome}}</h1>
        <p>Help with dynamic rendering using handlebars express module [hbs]</p>
        <a href="/projects">projects</a><br>
        <a href="/about">About</a>
        <br>
        <br>
        {{> footer}}
    </body>
</html>